@{
    ViewBag.Title = "Home Page";
}

<div id="result-ajax">
    This is content result ajax
</div>
<div>
    <input type="text" id="txtName" name="txtName" value="Tiệp" />
    <button id="btnAjax">Ajax</button>
    <script>
        var xxx;
        $(function () {
            $("#btnAjax").click(function () {
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json;charset=utf-8',
                    url: '/Home/GetHello',
                    data: JSON.stringify({ name: $('#txtName').val() }),
                }).done(function (d, x, r) {
                    xxx = r;
                    $("#result-ajax").text(d);
                }).fail(function (d) {
                    console.log("error");
                }).always(function () {
                    console.log("complete");
                });
            });
        });
    </script>
</div>

<div id="result-ajax-html">
    This is content result ajax html
</div>
<div>
    <button id="btnAjaxHtml">Ajax Html</button>
    <script>
        $(function () {
            $("#btnAjaxHtml").click(function () {
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json;charset=utf-8',
                    url: '/Home/GetHtml',
                    data: "",
                }).done(function (d, x, r) {
                    $("#result-ajax-html").html(d);
                }).fail(function (d) {
                    console.log("error");
                }).always(function () {
                    console.log("complete");
                });
            });
        });
    </script>
</div>